{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
          <h2 class="account-heading">{{ title }}</h2>
          <p class="text-secondary">{{ user_email }}</p>
        </div>
      </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ info_form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info Change</legend>
                <div class="form-group">
                    {{ info_form.username.label(class="form-control-label") }}

                    {% if info_form.username.errors %}
                        {{ info_form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in info_form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ info_form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ info_form.email.label(class="form-control-label") }}
                    {% if info_form.email.errors %}
                        {{ info_form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in info_form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ info_form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ info_form.picture.label() }}
                    {{ info_form.picture(class="form-control-file") }}
                    {% if info_form.picture.errors %}
                        {% for error in info_form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ info_form.submit(class="btn btn-outline-info") }}
            </div>
        </form>

        <form method="POST" action="">
            {{ passwd_form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Password Change</legend>
                <div class="form-group">
                    {{ passwd_form.password.label(class="form-control-label") }}
                    {% if passwd_form.password.errors %}
                        {{ passwd_form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in passwd_form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ passwd_form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ passwd_form.new_password.label(class="form-control-label") }}
                    {% if passwd_form.new_password.errors %}
                        {{ passwd_form.new_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in passwd_form.new_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ passwd_form.new_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ passwd_form.confirm_new_password.label(class="form-control-label") }}
                    {% if passwd_form.confirm_new_password.errors %}
                        {{ passwd_form.confirm_new_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in passwd_form.confirm_new_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ passwd_form.confirm_new_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ passwd_form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}