<!DOCTYPE html>
<html lang="en-US">
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>video-open-host</title>
        {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='video3.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='forms.css') }}">
        <link rel="stylesheet" href="https://vjs.zencdn.net/8.0.4/video-js.css"/>

        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" 
        integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" 
        crossorigin="anonymous">
        </script>
    </head>

    <body>
        <div class="topbar">
            <form action="/search" method="get">
                <input type="text" name="q" placeholder="Search...">
                <input type="submit" value="Search">
            </form>
            {% if current_user.is_authenticated %}
                <div class="uper-links">
                    <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                </div>
            {% else %}
                <div class="uper-links">
                    <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                    <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
                </div>
            {% endif %}
                <div><a>{{current_user}}</a></div>
        </div>
        <div class="sidebar">
            {% if active==1 %}
                <a href="{{ url_for('home') }}" class="active">Home</a>
            {% else %}
                <a href="{{ url_for('home') }}">Home</a>
            {% endif %}

            {% if active==2 %}
                <a href="{{ url_for('home') }}" class="active">History</a>
            {% else %}
                <a href="{{ url_for('home') }}">History</a>
            {% endif %}

            {% if active==3 %}
                <a href="{{ url_for('upload') }}" class="active">Upload</a>
            {% else %}
                <a href="{{ url_for('upload') }}">Upload</a>
            {% endif %}
        </div>
        <div class="main">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
