div.video3 {
    display: flex;
}

div.video a {
    margin: 15px 12px;
}

div.video img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 30px;
}

div.video p {
    margin: 15px 30px;
}
